{% for post in posts %}
    {% if post.category == 'WIL' %}
        {% include 'cards/what_i_learned.html' %}
    {% endif %}

    {% if post.category == 'WIC' %}
        {% include 'cards/projects.html' %}
    {% endif %}

    {% if post.category == 'SFT' %}
        {% include 'cards/team_ups.html' %}
    {% endif %}

    {% if post.category == 'IHQ' %}
        {% include 'cards/questions.html' %}
    {% endif %}


{% empty %}
    <div class="empty-state">
        <p>No posts found.</p>
    </div>
{% endfor %}

{% if posts.has_next %}
    <div id="load-more-trigger"
         hx-get="?page={{ posts.next_page_number }}{% if category %}&category={{ category }}{% endif %}"
         hx-trigger="intersect once"
         hx-target="#load-more-trigger"
         hx-swap="outerHTML"
         class="loading-trigger">
        <div class="spinner"></div>
        <p class="loading-text">در حال بارگذاری...</p>
    </div>
{% else %}
    <div class="no-more">
        <div class="no-more-emoji">✨</div>
        <p>تمام پست‌ها بارگذاری شدند!</p>
    </div>
{% endif %}